.cage {
  background-image: url(https://media1.tenor.com/images/ee445c1a3194f0560dc4f89eff1d19a9/tenor.gif?itemid=7519905);
  position: absolute;
  top: 0;
  left: 0;
  background-color: pink;
  z-index: 1;
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
}

.cage-btn {
  margin-top: 24px !important;
}